/*sextion1*/
.restaurant {
	width: 92px;
	margin-top: 82px;
	margin-left: 163px;
	color: #5863F8;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
.article01 {
	width: 498px;
	margin-left: 163px;
	padding-top: 16px;
	font-size: 42px;
	font-family: 'Poppins', sans-serif;
}
.container01 {
	width: 1080px;
	margin: 50px 116px 16px 163px;
}
.left-block {
	width: 536px;
	float: left;
	background-color: #F8F8F8;
}
.right-block {
	width: 536px;
	float: right;
	background-color: #F8F8F8;
}
.img {
	float: left;
}
.food {
	padding: 37px 0px 10px 16px;
	float: left;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	color: #5863F8;
}
.description {
	padding-right: 159px;
	padding-bottom: 10px;
	float: right;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	width: 353px;
}
.article02 {
	width: 220px;
	float: left;
	padding-left: 16px;
	font-size: 14px;
	color: #B1B1B1;
	line-height: 20px;
}
.container02 {
	width: 1080px;
	margin-left: 163px;
	margin-bottom: 90px;
}
/*section2*/
.container03 {
	width: 1088px;
	margin: 50px 116px 16px 163px;
}
.img02 {
	width: 352px;
	height: 212px;
}
.image-box {
	width: 352px;
	background-color: #F8F8F8;
	float: left;
}
.size {
	margin-right: 10px;
}
.blog {
	color: #5863F8;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding-top: 23px;
}
.description02 {
	font-size: 18px;
	padding-top: 5px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}
.article03 {
	font-size: 14px;
	color: #B1B1B1;
	padding-top: 10px;
	padding-left: 45px;
	padding-right: 45px;
	text-align: center;
	line-height: 20px;

}
.container04 {
	width: 1088px;
	margin-left: 163px;
}
.clear {
	clear: both;
}
.container03::after {
	content: '';
	clear: both;
	display: block;
}
.container04::after {
	content: '';
	clear: both;
	display: block;
}